.personal-list ul {
    list-style-type: disc;
    /* Ensure dots are displayed */
    list-style-position: inside;
    /* Align bullets with the text */
    text-align: center;
    /* Center-align the text */
    padding: 0;
    /* Remove default padding */
}

.personal-list ul li {
    margin-bottom: 0.5rem;
    /* Add spacing between list items */
}

#friends {
    padding-top: 2rem;
}

#photo_title {
    padding-bottom: 1rem;
}